*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: red;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: blueviolet;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body{
    background-color: antiquewhite;
    font-family: sans-serif;
    font-size: 1em;
    color: blueviolet;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 1em;
}